---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
  
{% include header.html %}
<body data-theme="{{ site.mode }}">
  {% include quiet-header.html %}
  <main aria-label="Content">
    <div class="wrapper not-found">
      <div class="container">
        <div class="title">404</div>
        <p class="phrase">🤔 Hmm... We've got a <em>4 0 4</em> situation here.</p>
        <a class="solution" href="{{ site.url }}">back home</a>
      </div>
    </div>
    {% include footer.html %}
  </main>
</body>

</html>
