---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}

<body data-theme="{{ site.mode }}">
  {% include quiet-header.html %}
  
  {% if page.class %}
    {% assign primary_class = page.class | split: ' ' | first %}
    <div class="breadcrumb">
      <span class="section">{{ primary_class | capitalize }}s</span>
      <span class="separator">→</span>
      <span class="current">{{ page.title }}</span>
    </div>
  {% endif %}
  
  <div class="wrapper">
    <header class="header">
      <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}.</h1>
      {% if page.tags and page.tags != empty %}
      <div class="tags center">
        {% assign tags = page.tags %}
        <span itemprop="keywords">
          [{% for tag in tags %}<a class="tag" href="/tags/#{{tag | downcase | slugify}}">{{tag | downcase }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}]
        </span>
      </div>
      {% endif %}
    </header>
    <main class="page-content" aria-label="Content">
      {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=false h_min=4 h_max=4 %}
    </main>
    {% include footer.html %}
  </div>
  {% include quiet-return.html %}
  <script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
</body>

</html>